* {
  font-family: 'MH';
  line-height: 130%;
}
body {
  background-blend-mode: multiply;
  background-color: rgba(255, 128, 255, 0.1);
  background-image: url(../img/background.png);
  background-size: 70%;
  margin: 0;
  padding: 0;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  font: 400 72px 'MH';
  height: 1.3em;
  margin: 0;
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
  margin: 2em 0;
}
input {
  display: block;
  margin: 0 auto;
  font-size: 32px;
  height: 40px;
  width: 90%;
  text-align: center;
  padding: 1%;
}
select {
  font-size: 16px;
  -webkit-appearance: none;
  appearance: none;
}
select {
  font-size: 14px;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(data:image/png;charset=utf-8;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAA1AQMAAACN/txFAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAGUExURQAAAAEBAcq50i8AAAACdFJOU/0BoIZiXgAAAMJJREFUKM9VzTERwzAMhWHlMmRMGYRCGYRSGcQMCqFUAsUQNHrw2XX0JMvWIn2n4SeaJgz3i+5Bb4qDPsSDmJJjYcqulam4Nqbq2ps8eDR58Gzy4NXEkzzYHrUHl0c9uD7qwU1kwX3SIbL8KbL8JbJ8FSXLibLlRMVyomo5KGgOujUHRc1BPClpHMoah4rGoapxVUBcdSM+6OyKyKkYOVVCTpWRUxXkVBU5U5Cc6ZacKUrONK80KS+jyjqqbpO+k37QH/1MXwF6V9G6AAAAAElFTkSuQmCC)
    no-repeat 97% white;
  background-size: 10px 5px;
  padding: 0 25px;
}
button {
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 3px 20px;
  background-color: white;
  height: 34px;
  transition: all 0.2s ease;
}
button:hover {
  background-color: #a80e8e;
  color: white;
}
button:active {
  background-color: #97137d;
}
table {
  width: 95%;
  max-width: 1024px;
  margin: 40px auto 40px auto;
  font-size: 90%;
}
table,
th,
td {
  border: 1px solid #ccc;
  border-collapse: collapse;
  padding: 10px;
}
tr:nth-child(even) {
  background-color: #f6f6f6;
}
li {
  padding-bottom: 6px;
  padding-top: 6px;
}
.advocate-section {
  font-size: 90%;
}
.container {
  background: rgba(255, 255, 255, 0.95);
  width: 95%;
  max-width: 768px;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
}
.header {
  background-image: url(../img/banner.png);
  color: white;
  text-align: center;
  text-shadow:
          1px 0px 1px #000,
          0px 1px 1px #000,
          0px -1px 1px #000,
          -1px 0px 1px #000;
  width: 100%;
}

.header .title {
  background-color: rgba(175, 048, 175, 0.5);
  padding: 0.5em 0;
}

.passphrase-label {
  margin: 0 auto 3px auto;
  font-size: 75%;
  color: #888;
  text-align: center;
}
.passphrase-options {
  margin-top: 1%;
  text-align: center;
}
.crack-time-label {
  text-align: center;
  margin: 0 auto;
  font-weight: 700;
  font-size: 72%;
}
.crack-time-label .crack-time {
  font-weight: 400;
}
.crack-time-label-disclaimer {
  color: #111;
  text-align: center;
  margin: 0 auto;
  font-size: 50%;
  font-style: italic;
}
.social-buttons {
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 0 2em 0;
}
.social-buttons svg {
  vertical-align: middle;
}
.social-buttons a {
  padding: 0 20px 0 20px;
  text-decoration: none;
  font-size: 85%;
}
.social-buttons .sc--facebook {
  color: #3b5998;
  fill: #3b5998;
}
.social-buttons .sc--twitter {
  color: #55acee;
  fill: #55acee;
}
.social-buttons .sc--github {
  color: black;
  fill: black;
}
code,
.password {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}

.footer {
  background-color: #eeee;
  border-top: 1px solid #aaa;
  font-size: 80%;
  margin-top: 40px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 30px;
  padding-bottom: 40px;
}

.footer h4 {
  margin-bottom: 0;

  &:first-child {
    margin-top: 0;
  }
}

.footer p {
  font-size: 0.9em;
  margin: 0;
  padding-top: 0.5em;
}

.footer .container {
  padding-top: 20px;
}
